.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Adjust as needed */
}

/* Center the buttons horizontally */
.center {
    display: flex;
    justify-content: center;
    
}


.btn-2 {
    background: blue;
    background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
    border: none;
    
  }
  .btn-2:before {
    height: 0%;
    width: 2px;
  }
  .btn-2:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; 
}

  .custom-btn {
    margin-left: 15px;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  /* Styling for the "Go to Billing" button */
.billing-btn {
    background-color: var(--c-indigo);
    color: var(--c-white);
    border: none;
    padding: 0.5em 1em;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.billing-btn:hover,
.billing-btn:focus {
    background-color: var(--c-governor);
}

/* Styling for the "Please Select a plan to proceed.." button */
.pricebutton1 {
    margin-left: 20px;
    background-color: var(--c-coffee);
    color: var(--c-white);
    border: none;
    padding: 0.5em 1em;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pricebutton {
    margin-left: 20px;
    background-color: var(--c-coffee);
    color: var(--c-white);
    border: none;
    padding: 0.5em 1em;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pricebutton:hover,
.pricebutton:focus {
    background-color: var(--c-del-rio);
}


